body {
  font: normal 100%;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  overflow: auto;
}

hr {
  clear: left;
  height: 0;
  border: 0;
  border-top: 1px solid #CCC;
}

#nav-tab {
  max-width: 80%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 20px;
}

#nav-tab li {
  float: left;
  width: 50%;
  min-width: 25%;
  height: auto;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}

.nav-tab-normal {
  color: #A0A0A0;
  text-decoration: none;
  height: inherit;
}

.nav-tab-selected {
  color: #000000;
  border-bottom: solid;
  border-bottom-color: #000000;
  border-bottom-width: 4px;
  text-decoration: none;
  height: inherit;
  padding-left: 15px;
  padding-right: 15px;
}

.intro-list {
  max-width: 80%;
  margin: auto;
}

.intro-list li {
  position: relative;
  height: 50px;
  color: #A0A0A0;
  font-size: 18px;
}

.intro-list li a {
  position: absolute;
  top: 50%;
  transform: translateY(50%);
}

.intro-list li i {
  float: right;
  transform: translateY(150%);
}
